@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap");
.img-svg {
  object-fit: cover;
  width: 100%;
}

.image-sec {
  padding-top: 4.5rem;
  margin-right: 3rem;
}

.h1-style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: hsl(243deg, 87%, 12%);
  line-height: 60px;
}

.p-style {
  width: 85%;
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navegation-bar-sec {
  width: 100%;
  display: flex;
  padding-left: 4rem;
  padding-top: 3rem;
}
.navegation-bar-sec .footer-links {
  box-sizing: border-box;
}
.navegation-bar-sec .footer-links ul {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navegation-bar-sec .footer-links ul li {
  list-style: none;
  margin-right: 5rem;
}
.navegation-bar-sec .footer-links ul li a {
  text-decoration: none;
  color: hsl(243deg, 87%, 12%);
}

.home-sec {
  width: 100%;
  display: flex;
  padding-left: 4rem;
}
.home-sec .information {
  padding-top: 8.4rem;
}
.home-sec .information .cta-home {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  width: 75%;
}
.home-sec .information .cta-home .input-email {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.home-sec .information .cta-home .input-email input {
  border-radius: 3px;
  font-size: 0.8rem;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid hsl(0deg, 0%, 75%);
  color: black;
}
.home-sec .information .cta-home .input-email input::placeholder {
  color: hsl(0deg, 0%, 75%);
}
.home-sec .information .cta-home .input-email input:focus {
  border: 1px solid #0075FF;
  outline: none;
}
.home-sec .information .cta-home .input-email .wrong-email {
  border: 1px solid red;
}
.home-sec .information .cta-home .input-email .wrong-email:focus {
  border: 1px solid red;
  outline: none;
}
.home-sec .information .cta-home .input-email .valid-email {
  display: none;
}
.home-sec .information .cta-home .input-email .invalid-email {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 12px;
  margin-bottom: 0;
  color: red;
}
.home-sec .information .cta-home button {
  width: 174px;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
  padding: 10px;
}
.home-sec .information .cta-home button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.home-sec .information .cta-home button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.about-sec {
  width: 100%;
  display: flex;
  padding-left: 4rem;
  margin-top: 10rem;
  background-image: url(../assets/images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
}
.about-sec .about {
  display: flex;
  flex-direction: column;
}
.about-sec .about a {
  color: #44a393;
}
.about-sec .about a:hover {
  opacity: 0.7;
}
.about-sec .about .card-testimony {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 3rem;
  padding: 2rem;
  box-shadow: 1px 1px 10px 2px #dddddd;
  border-radius: 5px;
}
.about-sec .about .card-testimony img {
  width: 13px;
}
.about-sec .about .card-testimony .p-style {
  margin-top: 10px;
  font-size: 15px;
  width: 100%;
}
.about-sec .about .card-testimony .footer-card {
  display: flex;
}
.about-sec .about .card-testimony .footer-card img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.about-sec .about .card-testimony .footer-card .avatar-information {
  margin-left: 10px;
  margin-top: -9px;
  display: flex;
  flex-direction: column;
}
.about-sec .about .card-testimony .footer-card .avatar-information .p-style {
  font-size: 12px;
  font-weight: 500;
}
.about-sec .image-sec {
  padding-top: 0;
}

.cta-sec {
  width: 100%;
  display: flex;
  padding-left: 4rem;
  padding-top: 3rem;
}

/*# sourceMappingURL=styles.css.map */
