$padding-top: 3rem;
$headings-cta-nav-font: 'Raleway', sans-serif;
$font-color-dark: hsl(243, 87%, 12%);
$light-gray: hsl(0, 0%, 75%);
$background-button: hsl(224, 93%, 58%);
$light-grayish-blue: hsl(240, 75%, 98%);

.img-svg{
    object-fit: cover;
    width: 100%;
}

.image-sec{
    padding-top: $padding-top*1.5;
    margin-right: 3rem;
}

.h1-style{
    font-family: $headings-cta-nav-font;
    font-weight: 700;
    font-size: 2.3rem;
    color: $font-color-dark;
    line-height: 60px;
}

.p-style{
    width: 85%;
    color: $font-color-dark;
    font-weight: 700;
}

.cta-home{
    margin-top: 30px;
    display: flex;
    gap: 5px;
    width: 75%;
    .input-email{
        display: flex;
        flex-direction: column;
        width: 60%;
        input{
            border-radius: 3px;
            font-size: 0.8rem;
            box-sizing: border-box;
            padding: 10px 20px;
            border: 1px solid $light-gray;
            color: black;
            &::placeholder{
                color: $light-gray;
            }
            &:focus{
                border: 1px solid #0075FF;
                outline: none;
            }
        }
        .wrong-email{
            border: 1px solid red;
            &:focus{
                border: 1px solid red;
                outline: none;
            }
        }
        .valid-email {
            display: none;
        }
        .invalid-email {
            margin-top: 5px;
            margin-left: 2px;
            font-size: 12px;
            margin-bottom: 0;
            color: red;
        }
    }
    button{
        width: 174px;
        height: 42px;
        border: none;
        border-radius: 5px;
        font-size: 0.8rem;
        font-family: $headings-cta-nav-font;
        font-weight: 700;
        background-color: $background-button;
        color: $light-grayish-blue;
        padding: 10px;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
        }
        &:disabled{
            opacity: 0.5;
            cursor: auto;
        }
    }
}


@media screen and (max-width: 500px){ 
    .img-svg{
        object-fit: cover;
        width: 100%;
    }
    
    .image-sec{
        margin-top: 100px;
        width: 100%;
        margin-right: 0rem;
    }
    
    .p-style{
        width: 100%;
    }
    
    .cta-home{
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 5px 30px;
        .input-email{
            width: 100%;
        }
        button{
            width: 100%;
            margin-left: 0px;
        }
    }
}