@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');

@mixin section-config(){
    width: $screen;
    display: flex;
    padding-left: $padding-left;
}

$padding-left: 4rem;
$padding-top: 3rem;
$screen: 100%;
$main-font: 'Open Sans', sans-serif;
$headings-cta-nav-font: 'Raleway', sans-serif;
$font-color-dark: hsl(243, 87%, 12%);
$background-desaturated: hsl(238, 22%, 44%);
$background-button: hsl(224, 93%, 58%);
$font-moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

body{
    font-family: $main-font;
}

.navegation-bar-sec{
    @include section-config();
    padding-top: $padding-top;
    .footer-links{
        box-sizing: border-box;
        ul{
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            li {
                list-style: none;
                margin-right: 5rem;  
                a{
                    text-decoration: none;
                    color: $font-color-dark;
                }
            }
        }
    }
}

.home-sec{
    @include section-config();
    .information{
        padding-top: $padding-top*2.8;
        
        .cta-home{
            margin-top: 30px;
            display: flex;
            gap: 5px;
            width: 75%;
            .input-email{
                display: flex;
                flex-direction: column;
                width: 60%;
                input{
                    border-radius: 3px;
                    font-size: 0.8rem;
                    box-sizing: border-box;
                    padding: 10px 20px;
                    border: 1px solid $light-gray;
                    color: black;
                    &::placeholder{
                        color: $light-gray;
                    }
                    &:focus{
                        border: 1px solid #0075FF;
                        outline: none;
                    }
                }
                .wrong-email{
                    border: 1px solid red;
                    &:focus{
                        border: 1px solid red;
                        outline: none;
                    }
                }
                .valid-email {
                    display: none;
                }
                .invalid-email {
                    margin-top: 5px;
                    margin-left: 2px;
                    font-size: 12px;
                    margin-bottom: 0;
                    color: red;
                }
            }
            button{
                width: 174px;
                height: 42px;
                border: none;
                border-radius: 5px;
                font-size: 0.8rem;
                font-family: $headings-cta-nav-font;
                font-weight: 700;
                background-color: $background-button;
                color: $light-grayish-blue;
                padding: 10px;
                &:hover{
                    cursor: pointer;
                    opacity: 0.5;
                }
                &:disabled{
                    opacity: 0.5;
                    cursor: auto;
                }
            }
        }
    }
    
}

.about-sec{
    @include section-config();
    margin-top: 10rem;
    background-image: url(../assets/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    .about{
        display: flex;
        flex-direction: column;
        a{
            color:  #44a393;
            &:hover{
                opacity: 0.7;
            }
        }
        .card-testimony{
            display: flex;
            flex-direction: column;

            width: 60%;
            margin-top: 3rem;
            padding: 2rem;
            box-shadow: 1px 1px 10px 2px #dddddd;
            border-radius: 5px;

            img{
                width: 13px;
            }
            .p-style{
                margin-top: 10px;
                font-size: 15px;
                width: 100%;
            }
            .footer-card{
                display: flex;
                img{
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                }
                .avatar-information{
                    margin-left: 10px;
                    margin-top: -9px;
                    display: flex;
                    flex-direction: column;
                    .p-style{
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .image-sec{
        padding-top: 0;
    }
}

.cta-sec{
    @include section-config();
    padding-top: $padding-top;
}