@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');

@mixin section-config(){
    width: $screen;
    display: flex;
    padding-left: $padding-left;
}

$padding-left: 4rem;
$padding-top: 3rem;
$screen: 100%;
$main-font: 'Open Sans', sans-serif;
$headings-cta-nav-font: 'Raleway', sans-serif;
$font-color-dark: hsl(243, 87%, 12%);
$background-desaturated: hsl(238, 22%, 44%);
$background-button: hsl(224, 93%, 58%);
$font-moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

body{
    font-family: $main-font;
}

.navegation-bar-sec{
    @include section-config();
    padding-top: $padding-top;
    .footer-links{
        box-sizing: border-box;
        ul{
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            li {
                list-style: none;
                margin-right: 5rem;  
                a{
                    text-decoration: none;
                    color: $font-color-dark;
                }
            }
        }
    }
}

.home-sec{
    @include section-config();
    .information{
        padding-top: $padding-top*2.8;   
    }
    
}

.about-sec{
    @include section-config();
    margin-top: 10rem;
    .img-background{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        margin-top: -50px;
        padding: 0;
    }

    .about{
        position: relative;
        display: flex;
        flex-direction: column;
        a{
            color:  #44a393;
            &:hover{
                opacity: 0.7;
            }
        }
        .card-testimony{
            display: flex;
            flex-direction: column;

            width: 60%;
            margin-top: 3rem;
            padding: 2rem;
            box-shadow: 1px 1px 10px 2px #dddddd;
            border-radius: 5px;

            img{
                width: 13px;
            }
            .p-style{
                margin-top: 10px;
                font-size: 15px;
                width: 100%;
            }
            .footer-card{
                display: flex;
                img{
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                }
                .avatar-information{
                    margin-left: 10px;
                    margin-top: -9px;
                    display: flex;
                    flex-direction: column;
                    .p-style{
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .image-sec{
        position: relative;
        padding-top: 0;
    }
}

.cta-sec{
    @include section-config();
    padding-top: 10rem;
    padding-bottom: 5rem;

    background-color: $background-desaturated;
    color: white;
    display: flex;
    .cta-information{
        width: 60%;
        h1{
            color: white;
            font-size: 2rem;
        }
        p{
            padding-top: 15px;
            width: 90%;
        }
    }
}

.footer-sec{
    width: $screen;
    padding-left: $padding-left;
    background-color: $font-color-dark;
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: white;
    .logo{
        filter: invert(1);
        margin-bottom: 40px;
    }
    .footer-link{
        display: flex;
        ul{
            padding-left: 0;
            li{
                list-style: none;
                margin-bottom: 20px;
                &:hover{
                    color: #796cf0;
                    cursor: pointer;
                }
            }

        }
        .ul-social-media{
            display: flex;
            li{
                flex: 1;
                margin-right: 30px;
            }
        }
    }
}